#artist {
    @include img('../img/shellz-art-space-art-sig.jpg');

    .wrap {

        display: grid;
        place-content: center;
        grid-template-columns: 1fr;

        @media (min-width: 640px) {
            grid-template-columns: repeat(2, 1fr);
        }

        h1 {
            @media (min-width: 640px) {
                grid-row: unset;
            }
            color: #fff;
            font-size: 15vw;
            padding: 5vw;
            grid-row: 1;
        }

        ul {
            margin: auto 0;
            padding-left: 25px;
        }

        a {
            text-decoration: none;
            color: #fff;
            position: relative;
            display: inline-block;

            &:before {
                content: '';
                width: 0%;
                height: 2px;
                display: block;
                background: #f00;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}