#place {
    @include img('../img/maciej-drabik-prez3de.jpg');

    .wrap {
        display: grid;
        color: #fff;
        place-content: center;
        span {
            display: inline-block;
        }
        h2 {
            font-family: 'Josefin Sans', sans-serif;
        }
        strong {
            font-size: 5vw;
            font-family: serif;
            display: block;
            color: #e93536;
        }
    }
}
