nav {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: screen;

    a {
        text-decoration: none;
        display: block;
        width: 125px;
        height: 15px;
        padding: 10px 15px;
        text-align: right;
        transition: 0.25s;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
        margin-left: auto;
        background: #0000;
        color: #fff;
        font-size: 20px;
        position: relative;
        text-transform: uppercase;

        &:before {
            content: '';
            width: 0px;
            height: 15px;
            background: #fff0;
            display: block;
            position: absolute;
            left: 0;
            transition: 0.25s;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            -ms-transition: 0.25s;
            -o-transition: 0.25s;
            top: 20px;
            bottom: 0;
            margin: auto;
            animation: jump 1s infinite;
            -webkit-animation: jump 1s infinite;

            @keyframes jump {
                50% {
                    top: -15px;
                    height: 20px;
                }
            }
        }

        &:hover {
            width: 155px;
            background: #fff;
            color: #000;

            &:before {
                width: 5px;
                background: #fff;
                left: -5px;
            }
        }
    }

    // $color-list: (#7211c1, #252f53, #ee90fd, #f1fdfc, #db9949);
    // $index: 0;

    // @each $color in $color-list {
    //     $index: $index + 1;

    //     ul li:nth-child(#{$index}) a {
    //         background: $color;
    //     }
    // }
}